.project {
  margin: 5vh 5vw;
  -webkit-box-shadow: 5px 5px 28px 5px rgba($black,0.1);
  -moz-box-shadow: 5px 5px 28px 5px rgba($black,0.1);
  box-shadow: 5px 5px 28px 5px rgba($black,0.1);
  border: 1px solid #e8e8e8;

  &-gif--mobile {
    display: block;
    max-height: 98vh;
    max-width: 80vw;
    margin: 0 auto;
  }
  
  &-gif--widescreen {
    display: none;
  }

  &__info {
    padding: 3vh 5vw;
    
    h2 {
      margin-bottom: 0;
    }

    a {
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;
      color: $text-color;

      &:hover {
        background: $medium-primary;
        background: -webkit-linear-gradient($medium-gradient);
        background: linear-gradient($medium-gradient);
        background-size: 100%;
        background-repeat: repeat;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        transition: 0.2s ease-in;
      }
    }
  }

  &__image {
    padding: 3vh 5vw;
    background-color: $medium-background;
  }

  &__technologies {
    padding-bottom: 20px;

    &--icon {
      height: 30px;

      &-node {
        height: 50px;
      }

      &-express {
        height: 45px;
      }

      &,
      &-node,
      &-express {
        padding: 5px;
      }
    }
  }

  &--description {
    line-height: 170%;
  }
}



@media screen and (min-width: 500px) {
  .project-gif--mobile {
    max-width: 80vw;
  }
}

@media screen and (min-width: 800px) {
  .project-gif--mobile {
    display: none;
  }
  
  .project-gif--widescreen {
    display: block;
    max-height: 400px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1200px) {
  .project {
    display: flex;

    &__info {
      padding: 0px 25px;
    }

    &__image {
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}