.footer {
  text-align: center;
  height: 70px;
  padding-bottom: 10px;

  &__icons {
    font-size: 1.6em;
    padding-bottom: 10px;
  }

  &__icon {
    padding: 0px 10px;

    &--github {
      color: $solid-primary;
    }

    &--linkedin {
      color: $solid-primary-secondary;
    }

    &--envelope {
      color: $solid-secondary;
    }
  }

  &__copyright {
    background: $medium-primary;
    background: -webkit-linear-gradient($faded-medium-gradient);
    background: linear-gradient($faded-medium-gradient);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
  }
}