.navbar__container {
  height: 100px;
}

/* styling the navbar list and links: */
.navigation__list {
  list-style: none;
  margin: 0;
  padding: 0;
  padding: 5px 10px;

  li {
    padding: 10px 10px;
    font-size: 1.2em;
  
    &:not(:last-child) {
      border-bottom: 1px solid $light-border;
    }
  }
}

.navbar__link {
  text-decoration: none;
  color: $text-color;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &--active {
    background: $medium-primary;
    background: -webkit-linear-gradient($medium-gradient);
    background: linear-gradient($medium-gradient);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    transition: 0.2s ease-in;
  }

}

/* styling navbar hamburger button */
.navbar__checkbox {
  display: none;

  &:checked + .navbar__button .navbar__icon::before {
  top: 0;
  transform: rotate(-135deg);
  }
  
  &:checked + .navbar__button .navbar__icon::after {
    top: 0;
    transform: rotate(135deg);
  }

  &:checked + .navbar__button .navbar__icon {
    background-color: transparent;
  }
}

.navbar__button {
  position: fixed;
  background-color: $white;
  height: 50px;
  width: 50px;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.navbar__icon {
  position: relative;
  margin-top: 23px;

  &,
  &::before,
  &::after {
    width: 40px;
    height: 4px;
    background-color: $text-color;
    display: inline-block;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .3s;
  }

  &::before {
    top: -11px;
  }
  
  &::after {
    top: 11px;
  }
}

/* styling show/hide of navbar menu */
.navigation {
  position: fixed;
  top: -200px;
  opacity: 0;
  right: 10px;
  width: 120px;
  background-color: rgba($white, 0.93);
  transition: all .3s;
}

.navbar__checkbox:checked ~ .navigation {
  opacity: 100;
  top: 60px;
}