.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.navbar {
  border: 1px solid purple;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  /* background-image:
    linear-gradient(
      to right,
      #7bae7f, #7bae7f, #d3a861
    ); */
}

.navbar > li {
  padding: 5px 5px;
  text-transform: uppercase;
}

header {
  height: 150px;
  border: 1px solid green;
}

.section-title__container {
  max-width: 500px;
}

.section-title {
  margin: 0;
  padding: 10px;
  border-bottom: 2px solid black;
}


main {
  margin: 20px 200px;
  border: 1px solid red;
}

footer {
  text-align: left;
  width: 100vw;
  /* position: fixed; */
  bottom: 0;
  border: 1px solid orange;
}

footer > div {
  margin: 10px;
}

/* wider screen */
@media screen and (min-width: 700px) {
  .App {
    flex-direction: row;
  }

  .navbar {
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
  }
}