/* app & util components */
.App {
  text-align: center;
}

.section-title {
  margin: 0 5vw;
  padding: 10px;
  text-align: left;
  font-family: 'Roboto Condensed';
}

.section-heading {
  font-family: 'Roboto Condensed';
}

/* hero */
.hero > p {
  font-family: 'Roboto Condensed';
  font-size: 2em;
  padding: 10px 10vw;
}

.hero__gradient {
  background: #283c86;
  background: -webkit-linear-gradient(to right, #397960, #283c86);
  background: linear-gradient(to right, #397960, #283c86);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* about */
.about__img--container {
  text-align: center;
}

.about__img {
  width: 30vw;
  max-width: 300px;
}

.about {
  text-align: left;
  font-size: 1.1em;
  padding: 0px 60px;
  line-height: 170%;
}

/* projects */
.project-gif--mobile {
  display: block;
  max-height: 98vh;
  max-width: 90vw;
  margin: 0 auto;
}

.project-gif--widescreen {
  display: none;
}

.project {
  margin: 5vh 5vw;
  -webkit-box-shadow: 5px 5px 28px 5px rgba(0,0,0,0.1);
  -moz-box-shadow: 5px 5px 28px 5px rgba(0,0,0,0.1);
  box-shadow: 5px 5px 28px 5px rgba(0,0,0,0.1);
  border: 1px solid #e8e8e8;
}

.project__info,
.project__image {
  padding: 3vh 5vw;
}

.project__image {
  background-color: whitesmoke;
}

.project--description {
  line-height: 170%;
}

.project__info > a {
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  color: #09203f;
}

.project__info > a:hover {
  background: #283c86;
  background: -webkit-linear-gradient(to left, #45a247, #283c86);
  background: linear-gradient(to left, #45a247, #283c86);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  transition: 0.2s ease-in;
}

/* resume */

/* footer */
footer {
  text-align: center;
  height: 70px;
  padding-bottom: 10px;
}

.footer__icons {
  font-size: 1.6em;
  padding-bottom: 10px;
}

.footer__icon {
  padding: 0px 10px;
}

.footer__icon--github {
  color: #2F5676;
}

.footer__icon--linkedin {
  color: #376F67;
}

.footer__icon--envelope {
  color: #3E8957;
}

.footer__copyright {
  background: #283c86;
  background: -webkit-linear-gradient(to left, #397960, #283c86);
  background: linear-gradient(to left, #397960, #283c86);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

/* tablet-sized screen */
@media screen and (min-width: 500px) {
  .hero > p {
    font-size: 2em;
    padding: 10vh 10vw;
  }
}

@media screen and (min-width: 650px) {
  .hero > p {
    font-size: 2.3em;
    padding: 10vh 10vw;
  }
}

/* computer-sized screen */
@media screen and (min-width: 800px) {
  .hero > p {
    font-size: 2.7em;
    padding: 7vh 10vw;
  }

  .project-gif--mobile {
    display: none;
  }
  
  .project-gif--widescreen {
    display: block;
    /* width: 600px; */
    max-height: 400px;
    margin: 0 auto;
  }

  .about__img {
    padding: 30px 20px;
  }

  .about {
    display: flex;
  }
}



/* XL-sized screen */
@media screen and (min-width: 1000px) {
  .hero > p {
    font-size: 3em;
    padding: 8vh 10vw;
  }

  .project {
    display: flex;
  }

  .project__info {
    padding: 0px 25px;
  }

  .project__image {
    padding: 40px 20px;
  }
}